// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
}

/* Main */
.main {
	background-position: center;
	background-image: url(1.jpg);
	background-attachment: fixed;
	text-align: center;
	background-size: cover;
	margin-top: -135px;
	margin-bottom: 0px;
	padding-top: 187px;
	padding-bottom: 100px;
}

.main h1 {
	font-size: 200px;
	color: white;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0%;
}

.main p {
	font-size: 18px;
	color: white;
	margin-top: -139px;
	margin-bottom: 50px;
  }

.btn-main {
	background-color: #333333;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1.3px;
	padding: 16px 40px;
	text-decoration: none;
	text-transform: uppercase;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Supporting */
.supporting {
	text-align: center;
	padding-bottom: 40px;
	background-color: #1c1c1c;
}

.supporting .col {
  float: left;
  width: 30%;
  padding: 10px;
 
}

.supporting h1,
.supporting h2 {
  color: #ffa800;
  font-size: 40px;
  margin-bottom: 10px;
 
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */

.feature {
	background-position: center;
	background-image: url(2.jpg);
	background-attachment: fixed;
	text-align: center;
	background-size: cover;
	padding-top: 15px;
	padding-bottom: 100px;
}

.feature h1 {
	color: #ffffff;
	font-size: 60px;
	margin-top: 300px;
}

.premiumsupporting {
  text-align: center;
  background-color: #1c1c1c;
  padding-bottom: 40px;
}

.premiumsupporting h2 {
	color: #ffa800;
	font-size: 60px;
	margin: -15px;
	padding: 10px;
}

.premiumsupporting p {
	color: #FFFFFF;
	padding-bottom: 15px;
	}
	
#btn-premiumsupporting {
	background-color: #ffffff;
  	color: #1B1B1B;
	}

/* Footer */
.footer {
	background-position: center;
	background: url(3.jpg);
	background-attachment: fixed;
	text-align: center;
	background-size: cover;
	padding-top: 250px;
	padding-bottom: 350px;
}

.footer h1,
.footer h2 {
	color: #fff;
	font-size: 40px;
	padding-top: 100px;
}

.footer p {
  color: #fff;
  font-size: 18px;
}
